<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Samsung_Internet_logo.svg/1024px-Samsung_Internet_logo.svg.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script>
        window.onpageshow = function(event) {
            if(event.persisted || (window.performance && window.performance.navigation.type == 2)) {
                self.name = '';
                
                if (self.name != 'reload') {
                    self.name = 'reload';
                    self.location.reload(true);
                    self.name = '';
                }
                else self.name = '';
            }
        }

        const now_URL = document.URL;
        const check_Url = new URL(now_URL);
        let check_param = check_Url.searchParams.get("check");
        
        if(check_param === "true") {
            alert("글 삭제가 완료되었습니다.");
            window.location.href = '/boardList/';
        }
    </script>
    <title>게시판</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">메인</a></li>
            {{#if user}}
                <li><a href="/profile">내 정보</a></li>
                <li><a href="/auth/logout">로그아웃</a></li>
            {{else}}
                <li><a href="/login">로그인</a></li>
                <li><a href="/register">회원가입</a></li>
            {{/if}}
        </ul>
    </nav>
    
    <div class="container mt-4">
        <div class="jumbotron" style="border: none;">
            <h4>자유게시판</h4>
            <hr class="my-4">
            <table class="board-table table table-sm table-hover table-striped text-center" style="border: 1px solid grey;">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if board}}
                        {{#each board}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td><a href="/boardRead?id={{this.id}}" class="readA">{{this.title}}</a></td>
                                <td>{{this.name}}</td>
                                <td>{{this.count}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="4">게시글이 없습니다.</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>
            <div class="listButtons">
                <a class="btn btn-primary left listHeight" href="/boardWrite">글쓰기</a>
                <form action="/auth/boardSearch" method="POST" class="left">
                    <input type="text" class="form-control shortBox left" name="search" required>
                    <button type="submit" class="btn btn-primary listHeight">검색</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>