<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <link rel="shortcut icon" type="image/x-icon" href="https://icon.horse/icon/[url.hostname]">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>정보 수정</title>
</head>
<body>
    <nav>
        <div class="container">
            <ul>
                <li><a href="/">메인</a></li>
                <li><a href="/profile">내 정보</a></li>
                <li><a href="/auth/logout">로그아웃</a></li>
                <li><a href="/withdrawal">회원탈퇴</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                회원 정보 수정
            </div>
            <div class="card-body">
                <form action="/auth/update" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="authid" value="{{user.authid}}">
                        <label for="name">이름</label>
                        {{#if name}}
                            <input type="text" class="form-control" id="name" name="name" value="{{name}}" maxlength="25" required>
                        {{else}}
                            <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" maxlength="25" required>
                        {{/if}}
                    </div>

                    <div class="form-group">
                        <label for="email">이메일</label>
                        {{#if email}}
                            <input type="email" class="form-control" id="email" name="email" value="{{email}}" readonly>
                        {{else}}
                            <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" readonly>
                        {{/if}}
                    </div>

                    {{#if user.authid}}
                        <div class="form-group" style="display: none;">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password" value="{{user.authid}}" readonly>
                        </div>
                    {{else}}
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요." maxlength="20" required>
                        </div>
                    {{/if}}

                    <button type="submit" class="btn btn-primary">정보 수정</button>
                </form>
            </div>
        </div>

        {{!-- Register할 때, 메시지 발생했을 때 --}}
        {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>